<h1>Characters</h1>
<ul>
    <li>
        Name: <%= @character.name %>
    </li>
    <li>
        Backstory: <%= @character.backstory %>
    </li>
    <li>
        Experience: <%= @character.experience %>
    </li>
</ul>
